.Pipes{
  position: absolute;
  width: em(110px);
  height: em(600px);
  right: 0;
  background-size: cover;
}

.PipeUp{
  //bottom: 0;
  background-image: url("/../assets/images/PipeUpLong.png");
  //-webkit-animation: slide 25s linear infinite;
  //animation: slide 25s linear infinite;
}

.PipeDown{
  //top: 0;
  background-image: url("/../assets/images/PipeDownLong.png");
  //-webkit-animation: slide 25s linear infinite;
  //animation: slide 25s linear infinite;
}
