.Pipes{
  position: absolute;
  width: em(350px);
  height: em(350px);
  background-size: cover;
}

#PipeUp{
  bottom: 0;
  right: 0;
  background-image: url("/../assets/images/pipe.png");
  -webkit-animation: slide 40s infinite;
}

#PipeDown{
  top: 0;
  right: 0;
  background-image: url("/../assets/images/pipe_down.png");
  -webkit-animation: slide 40s infinite;
}
