
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    margin-top: -4.6em;
    margin-left: -5.6em;

    width: 8.9em;
    height: 7.1em;
    background-image: url("/../assets/images/pig_openeyes_nowings.png");
    background-size: cover;

    transform: translateZ(0);
}
.Wing{
    position: absolute;
    left: 2em;
    top: 2.2em;
    height: em(28px);
    width: em(31px);
    //background: blue;
    background-image: url("/../assets/images/pig_wing.png");
    background-size: cover;

    transform: translateZ(0);

    animation: flap 0.3s infinite;
    -webkit-animation: flap 0.3s infinite;
    transform-origin: 100% 0%;
}
