
.Scoreboard {
	position: relative;
	//left: 35%;
	top: 5em;
	height: 30em;
	width: 30em;
	min-width: 30em;
	min-height: 30em;
	padding-top: 2em;
	margin: auto;
	z-index: 10;
	box-sizing: border-box;
	border: solid 0.5em $scoreboard-border;
	border-radius: 1em;
	box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.5);


	//font-size: 2.4em;
	background: $scoreboard;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, -50em);
	transition: transform 0.5s;

	.Score,
	.Best,
	.GameOver{
		font-size: 2em;
		color: $scoreboard-text;
		font-family: 'Open-Sans-Bold', sans-serif;
	}
	.GameOver{
		font-size: 3.5em;
	}

	.Scoreboard-restart {
		left: 30%;
		width: 40%;
		height: 10%;
		text-align: center;
		//font-size: inherit;
		padding: 0.4em 1.5em;
		border: solid 0em;
		background: $restart-button;
		border-radius: 0.5em;
		cursor: pointer;

		.Scoreboard-restartText {
			color: $scoreboard;
			font-family: 'Open-Sans-Bold', sans-serif;
		}
	}

}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}
