
/*------ Colors ------*/

$base-font-size: 10px;
$game-backdrop: #067d96;
$game-backdrop-bottom: #daf0ff;
$scoreboard: #ffffff;
$scoreboard-text: #ffffff;
$restart-button: #067d96;
$score-text: #ffffff;
$mute-button: #ffffff;

/*---------------------*/

//this.pipeDown2.css('transform', 'translateZ(0) translate(' + this.pipeDown2.pos.x + 'em, ' + this.pipeDown2.pos.y + 'em)');

@font-face {
    font-family: Open-Sans;
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Open-Sans-Bold;
    src: url('../assets/fonts/open-sans/OpenSans-Bold.ttf');
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}


@-webkit-keyframes slide {
    0% {
      transform: translateZ(0) translate(100em,0);
    }
    100% {
      transform: translateZ(0) translate(-202.4em,0);
    }
}

@keyframes slide {
    0% {
      transform: translateZ(0) translate(100em,0);
    }
    100% {
      transform: translateZ(0) translate(-202.4em,0);
    }
}

/*----------------Wing flap -----------------*/

@keyframes flap {
    0% {
      transform:  rotateZ(0deg) ;
    }
    20% {
      transform:  rotateZ(15deg) ;
    }
    40% {
      transform:  rotateZ(15deg) ;
    }
    60% {
      transform:  rotateZ(-15deg) ;
    }
    80% {
      transform:  rotateZ(-15deg) ;
    }
    100% {
      transform:  rotateZ(0deg) ;
    }
}

@-webkit-keyframes flap {
    0% {
      transform:  rotateZ(0deg) ;
    }
    20% {
      transform:  rotateZ(15deg) ;
    }
    40% {
      transform:  rotateZ(15deg) ;
    }
    60% {
      transform:  rotateZ(-15deg) ;
    }
    80% {
      transform:  rotateZ(-15deg) ;
    }
    100% {
      transform:  rotateZ(0deg) ;
    }
}


/*------ Rotate Pig ----------*/

/*@keyframes bla {
  0%{
    transform:  rotate(-40deg);
  }
}

@-webkit-keyframes bla {

  0%{
    transform:  rotate(-40deg);
  }


}*/




/*------ Ground move --------*/

@-webkit-keyframes groundmove {
    0% {
      transform: translateZ(0) translate(0em,0em);
    }
    100% {
      transform: translateZ(0) translate(-5.9em,0em);
    }
}

@keyframes groundmove {
    0% {
      transform: translateZ(0) translate(0em,0em);
    }
    100% {
      transform: translateZ(0) translate(-5.9em,0em);
    }
}
