$base-font-size: 10px;
$game-backdrop: #47b5ff;
$scoreboard: #ffffff;
$scoreboard-text: #ffffff;
$restart-button: #067d96;

@font-face {
    font-family: Open-Sans;
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@-webkit-keyframes slide {
    0% {
      transform: translate(1000px,0);
    }
    100% {
      transform: translate(-1000px,0);
    }
}
