body {
  background: black; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*------ Colors ------*/
/*---------------------*/
@font-face {
  font-family: Open-Sans;
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: Open-Sans-Bold;
  src: url("../assets/fonts/open-sans/OpenSans-Bold.ttf"); }
@-webkit-keyframes slide {
  0% {
    transform: translateZ(0) translate(100em, 0); }
  100% {
    transform: translateZ(0) translate(-202.4em, 0); } }
@keyframes slide {
  0% {
    transform: translateZ(0) translate(100em, 0); }
  100% {
    transform: translateZ(0) translate(-202.4em, 0); } }
/*----------------Wing flap -----------------*/
@keyframes flap {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(15deg); }
  40% {
    transform: rotateZ(15deg); }
  60% {
    transform: rotateZ(-15deg); }
  80% {
    transform: rotateZ(-15deg); }
  100% {
    transform: rotateZ(0deg); } }
@-webkit-keyframes flap {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(15deg); }
  40% {
    transform: rotateZ(15deg); }
  60% {
    transform: rotateZ(-15deg); }
  80% {
    transform: rotateZ(-15deg); }
  100% {
    transform: rotateZ(0deg); } }
/*------ Rotate Pig ----------*/
/*@keyframes bla {
  0%{
    transform:  rotate(-40deg);
  }
}

@-webkit-keyframes bla {

  0%{
    transform:  rotate(-40deg);
  }


}*/
/*------ Ground move --------*/
@-webkit-keyframes groundmove {
  0% {
    transform: translateZ(0) translate(0em, 0em); }
  100% {
    transform: translateZ(0) translate(-5.9em, 0em); } }
@keyframes groundmove {
  0% {
    transform: translateZ(0) translate(0em, 0em); }
  100% {
    transform: translateZ(0) translate(-5.9em, 0em); } }
/*-----rotate pig------*/
/*
@-webkit-keyframes tiltUp {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-45deg);
    }
}

@keyframes tiltUp {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-45deg);
    }
}
*/
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: #067d96;
  background: -webkit-linear-gradient(#067d96, #daf0ff);
  background: linear-gradient(#067d96, #daf0ff); }
  .GameCanvas #score {
    position: absolute;
    left: 48.5%;
    top: 10%;
    color: #ffffff;
    font-family: 'Open-Sans-Bold';
    font-size: 4em;
    z-index: 5;
    display: block; }

.mute {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 3em;
  width: 3em;
  border: solid 0em;
  border-radius: 1em;
  background-image: url("/../assets/images/mute.ico");
  background-size: cover;
  z-index: 10; }

.GameCanvas-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32em;
  height: 48em;
  margin-left: -16em;
  margin-top: -24em; }

.Clouds {
  position: absolute;
  top: 0%;
  width: 57.6em;
  height: 57.6em;
  background-size: contain;
  background-repeat: no-repeat; }

#Cloud1 {
  background-image: url("/../assets/images/cloud_1.png");
  left: 20%;
  -webkit-animation: slide 40s linear infinite;
  animation: slide 40s linear infinite; }

#Cloud2 {
  background-image: url("/../assets/images/cloud_2.png");
  left: 40%;
  -webkit-animation: slide 25s linear infinite;
  animation: slide 25s linear infinite; }

#Cloud3 {
  background-image: url("/../assets/images/cloud_3.png");
  left: 60%;
  -webkit-animation: slide 50s linear infinite;
  animation: slide 50s linear infinite; }

#Cloud4 {
  background-image: url("/../assets/images/cloud_4.png");
  left: 80%;
  -webkit-animation: slide 55s linear infinite;
  animation: slide 55s linear infinite; }

#Cloud5 {
  background-image: url("/../assets/images/cloud_5.png");
  left: 100%;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite; }

#Cloud6 {
  background-image: url("/../assets/images/cloud_6.png");
  left: 120%;
  -webkit-animation: slide 30s linear infinite;
  animation: slide 30s linear infinite; }

.Ground {
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 108.3em;
  background-image: url("/../assets/images/ground.png");
  z-index: 1;
  -webkit-animation: groundmove 0.3s linear infinite;
  animation: groundmove 0.3s linear infinite; }

.Ground-stop {
  -webkit-animation: none;
  animation: none; }

.PlayerBackground {
  position: absolute;
  margin-top: -12em;
  margin-left: -15em;
  width: 25em;
  height: 25em;
  background-image: url("/../assets/images/logo.png");
  background-size: cover;
  transform: translateZ(0); }
  .PlayerBackground .Player {
    position: absolute;
    margin-top: 10em;
    margin-left: 11.5em;
    width: 7em;
    height: 5.6em;
    background-image: url("/../assets/images/pig_nowings.png");
    background-size: cover;
    transform: translateZ(0); }
    .PlayerBackground .Player .Wing {
      position: absolute;
      left: 1.8em;
      top: 2em;
      height: 2.2em;
      width: 2.5em;
      background-image: url("/../assets/images/pig_wing.png");
      background-size: cover;
      transform: translateZ(0);
      animation: flap 0.5s infinite;
      -webkit-animation: flap 0.5s infinite;
      transform-origin: 100% 0%; }

.PlayerBackground-flap {
  background-image: none; }
  .PlayerBackground-flap .Player {
    background-image: url("/../assets/images/pig_openeyes_nowings.png"); }
    .PlayerBackground-flap .Player .Wing {
      animation: flap 0.2s infinite;
      -webkit-animation: flap 0.2s infinite;
      transform-origin: 100% 0%; }

/*
.Player-flap-up {
    border: solid red 3px;
    animation: tiltUp 0.5s;
    -webkit-animation: tiltUp 0.5s;
    transform-origin: 50% 50%;
}

.Player-flap-down {

  background-image: url("/../assets/images/pig_openeyes_tilt_down.png");
  .Wing {
      animation: flap 0.5s infinite;
      -webkit-animation: flap 0.5s infinite;
      transform-origin: 100% 0%;
  }
}
*/
.PlayerBackground-dead {
  background-image: none; }
  .PlayerBackground-dead .Player {
    background-image: url("/../assets/images/dead_pig_flip.png"); }
    .PlayerBackground-dead .Player .Wing {
      display: none; }

.Scoreboard {
  position: relative;
  top: 5em;
  height: 30em;
  width: 30em;
  min-width: 30em;
  min-height: 30em;
  padding-top: 2em;
  margin: auto;
  z-index: 10;
  box-sizing: border-box;
  border: solid 0.5em #ffffff;
  border-radius: 1em;
  box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.5);
  background: #067d96;
  text-align: center;
  transform: translate(0, -50em);
  transition: transform 0.5s; }
  .Scoreboard .Score,
  .Scoreboard .Best,
  .Scoreboard .GameOver {
    font-size: 2em;
    color: #ffffff;
    font-family: 'Open-Sans-Bold', sans-serif; }
  .Scoreboard .GameOver {
    font-size: 3.5em; }
  .Scoreboard .Scoreboard-restart {
    left: 30%;
    width: 40%;
    height: 10%;
    text-align: center;
    padding: 0.4em 1.5em;
    border: solid 0em;
    background: #ffffff;
    border-radius: 0.5em;
    cursor: pointer; }
    .Scoreboard .Scoreboard-restart .Scoreboard-restartText {
      color: #067d96;
      font-family: 'Open-Sans-Bold', sans-serif; }

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
  transform: none; }

.Pipes {
  position: absolute;
  width: 11em;
  height: 60em;
  right: 0;
  background-size: cover; }

.PipeUp {
  /*
  border:0.2em solid #502946;
  box-shadow:inset 12px 0px 8px #9ae75b ,
            inset 20px 0px 4px #f3fc85 ,
            inset 32px 0px 8px #9ae75b ,
            inset 36px 0px 8px #71bc2b ,
            inset 42px 0px 8px #9ae75b ,

            inset -16px 0px 4px #538127 ,
            inset -24px 0px 4px #78c32a ,
            inset -32px 0px 4px #4d7e22 ;*/
  background-image: url("/../assets/images/PipeUpLong.png"); }

.PipeDown {
  background-image: url("/../assets/images/PipeDownLong.png"); }

/*# sourceMappingURL=main.css.map */
