body {
  background: black; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*------ Colors ------*/
/*---------------------*/
@font-face {
  font-family: Open-Sans;
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf"); }
@-webkit-keyframes slide {
  0% {
    transform: translate(100em, 0); }
  100% {
    transform: translate(-202.4em, 0); } }
@keyframes slide {
  0% {
    transform: translate(100em, 0); }
  100% {
    transform: translate(-202.4em, 0); } }
/*----------------Wing flap -----------------*/
@keyframes flap {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(15deg); }
  60% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes flap {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(15deg); }
  60% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }
/*------ Ground move --------*/
@-webkit-keyframes groundmove {
  0% {
    transform: translate(0em, 0em); }
  100% {
    transform: translate(-5.9em, 0em); } }
@keyframes groundmove {
  0% {
    transform: translate(0em, 0em); }
  100% {
    transform: translate(-5.9em, 0em); } }
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: #067d96;
  background: -webkit-linear-gradient(#067d96, #daf0ff); }


.GameCanvas-mobile {
    width: 32em;
    height: 48em;
 }

.Clouds {
  position: absolute;
  top: 0%;
  width: 57.6em;
  height: 57.6em;
  background-size: contain;
  background-repeat: no-repeat; }

#Cloud1 {
  background-image: url("/../assets/images/cloud_1.png");
  left: 20%;
  -webkit-animation: slide 40s linear infinite;
  animation: slide 40s linear infinite; }

#Cloud2 {
  background-image: url("/../assets/images/cloud_2.png");
  left: 40%;
  -webkit-animation: slide 45s linear infinite;
  animation: slide 45s linear infinite; }

#Cloud3 {
  background-image: url("/../assets/images/cloud_3.png");
  left: 60%;
  -webkit-animation: slide 50s linear infinite;
  animation: slide 50s linear infinite; }

#Cloud4 {
  background-image: url("/../assets/images/cloud_4.png");
  left: 80%;
  -webkit-animation: slide 55s linear infinite;
  animation: slide 55s linear infinite; }

#Cloud5 {
  background-image: url("/../assets/images/cloud_5.png");
  left: 100%;
  -webkit-animation: slide 60s linear infinite;
  animation: slide 60s linear infinite; }

#Cloud6 {
  background-image: url("/../assets/images/cloud_6.png");
  left: 120%;
  -webkit-animation: slide 65s linear infinite;
  animation: slide 65s linear infinite; }

.Ground {
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 108.3em;
  background-image: url("/../assets/images/ground.png");
  z-index: 1;
  -webkit-animation: groundmove 0.5s linear infinite;
  animation: groundmove 0.5s linear infinite; }

.Player {
  position: absolute;
  margin-top: -4.6em;
  margin-left: -5.6em;
  width: 8.9em;
  height: 7.2em;
  background-image: url("/../assets/images/pig_openeyes_nowings.png");
  background-size: cover;
  transform: translateZ(0); }

.Wing {
  position: absolute;
  left: 2em;
  top: 2.2em;
  height: 2.8em;
  width: 3.1em;
  background-image: url("/../assets/images/pig_wing.png");
  background-size: cover;
  transform: translateZ(0);
  animation: flap 0.3s infinite;
  -webkit-animation: flap 0.3s infinite;
  transform-origin: 100% 0%; }

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  box-sizing: border-box;
  border: 0.2em solid white;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  text-align: center;
  transform: translate(0, -50em);
  transition: transform 0.5s; }

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
  transform: none; }

.Scoreboard-restart {
  margin-top: 20em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: #067d96;
  border-radius: 5px;
  cursor: pointer; }

.Scoreboard-restartText {
  font-family: 'Open-Sans', sans-serif;
  font-size: 2.4em;
  color: #ffffff; }

.Pipes {
  position: absolute;
  width: 35em;
  height: 35em;
  right: 0;
  background-size: cover; }

#PipeUp {
  bottom: 0;
  background-image: url("/../assets/images/pipe.png");
  -webkit-animation: slide 25s linear infinite;
  animation: slide 25s linear infinite; }

#PipeDown {
  top: 0;
  background-image: url("/../assets/images/pipe_down.png");
  -webkit-animation: slide 25s linear infinite;
  animation: slide 25s linear infinite; }

/*# sourceMappingURL=main.css.map */
